{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST" class="login-form">  
            {% csrf_token %}
            <div class="field-row">
                <label for="id_email">Email:</label>
                <input type="text" id="id_username" name="username" placeholder="Enter your email id" required>
            </div>
            <div class="field-row">
                <label for="id_password">Password:</label>
                <input type="password" id="id_password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn-primary">Login</button>
        </form>
        <p class="text-link">
            Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a>
        </p>
        <p class="text-link">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </p>
    </div>
</body>
</html>
